<template name="productForm">
    <div class="row formShowHide" style="display: none;">
        <div class="col-md-9" role="main">
            <div class="form-container">
                <h4>Add Product</h4>

                <form role="form">
                    <div class="form-group">
                        <label for="productTitle">Title</label>
                        <input type="text" class="form-control" id="productTitle" placeholder="Enter product title" required>
                    </div>
                    <div class="form-group">
                        <label for="productDesc">Description</label>
                        <input type="text" class="form-control" id="productDesc"
                               placeholder="Enter product description">
                    </div>

                    <div class="form-group">
                        <label for="productCategory">Category</label>
                        <select  id="productCategory" class="form-control" >
                            {{#each categories}}
                            <option value="{{_id}}">{{title}}</option>
                            {{/each}}
                        </select>
                    </div>




                    <button type="submit" class="btn btn-primary" id="addProduct">Submit</button>
                    <input type="hidden"  id="productID">
                </form>
            </div>
        </div>
    </div>

</template>